@import 'variables';
@import 'typography-default';

$shimmer-loader-items: 1, 2, 3, 4, 5;
$shimmer-loader-row-height: 16px;
$shimmer-loader-row-min-width: 90;
$shimmer-loader-row-max-width: 300;

.card {
  padding: $spacer-3;
  border-top: 1px solid $gray20;
  border-bottom: 1px solid $gray20;
}

.card-title {
  font-family: $font-family-body;
  font-size: 18px;
  line-height: 22px;
  font-weight: $font-weight-body-bold;
  color: $gray100;
}

.card-subtitle {
  font-family: $font-family-body;
  font-size: 14px;
  line-height: 22px;
  font-weight: $font-weight-body-regular;
  color: $gray70;
}

.card-copy {
  font-family: $font-family-body;
  font-size: 14px;
  line-height: 16px;
  font-weight: $font-weight-body-regular;
  color: $gray100;
  margin: 0;

  @include truncate(14px, 16px, 3);
}

.card-body {
  padding-top: $spacer-3;
}

// Shimmer Loader
.card-shimmer-loader {
  width: 100%;
}

.card-shimmer-row {
  height: $shimmer-loader-row-height;
  width: $shimmer-loader-row-min-width + px;
  margin-bottom: $spacer-1;

  &:last-child {
    margin-bottom: 0;
  }
}

@each $line in $shimmer-loader-items {
  .shimmer-row-line--#{$line} {
    width:
      (
        random($shimmer-loader-row-max-width - $shimmer-loader-row-min-width) +
        $shimmer-loader-row-min-width
      ) +
      px;
  }
}

.card-shimmer-loader-body {
  margin-top: $spacer-4;
}
