.column-list {
  margin: 0;

  // TODO - Revisit hover styles when merged with search branch
  .list-group-item:hover {
    background: white;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.12), 0px 2px 3px 0px rgba(0, 0, 0, 0.16);
    & + * {
      box-shadow: inset 0px 2px 0px 0px rgba(0, 0, 0, 0.16);
    }
  }
}
