@import 'variables';

.bookmark-list {
  margin: 32px 0;

  .title-1 {
    margin-bottom: 32px;
  }

  .tabs-component {
    .nav.nav-tabs {
      margin: 0;
    }

    .tab-content .list-group-item:first-child {
      border-top: none;
    }
  }
}

$shimmer-loader-lines: 1, 2;
$shimmer-loader-rows: 1, 2, 3;
$shimmer-loader-text-height: 16px;
$shimmer-loader-circle-size: 24px;

.shimmer-bookmarks-loader {
  width: 100%;
}

.shimmer-bookmarks-loader-row {
  padding: $spacer-3;
  border-top: 1px solid $stroke;
  border-bottom: 1px solid $stroke;
  margin-bottom: -1px;
  margin-top: 0;

  & .media-left {
    padding-right: $spacer-2;
  }
}

.shimmer-bookmarks-circle {
  height: $shimmer-loader-circle-size;
  width: $shimmer-loader-circle-size;
  border-radius: $shimmer-loader-circle-size;
}

.shimmer-bookmarks-line {
  margin-bottom: $spacer-1;
  height: $shimmer-loader-text-height;

  &:last-child {
    margin-bottom: 0;
  }
}

@each $line in $shimmer-loader-lines {
  .shimmer-bookmarks-line--#{$line} {
    width: percentage(random(100) / 100);
  }
}
