// Copyright Contributors to the Amundsen project.
// SPDX-License-Identifier: Apache-2.0

@import 'variables';

.clickable-badge-primary {
    .flag {
        background-color: $badge-neutral-color;
        // &:hover {
        //     background-color: $badge-neutral-color-hover-overlay;
        // }
    }
}

.overlay-primary{
    background-color: $badge-neutral-color-hover-overlay;
    opacity: 0.14;
}