// Copyright Contributors to the Amundsen project.
// SPDX-License-Identifier: Apache-2.0

@import 'variables';
@import 'typography';

section.column-lineage-wrapper {
  margin-top: 24px;
  display: flex;
  max-width: 600px;

  .column-lineage-list {
    flex-basis: 50%;
    flex-grow: 1;

    &:first-child {
      margin-right: 16px;
    }
  }
}
