@import 'variables';

.open-request {
  display: flex;
  font-size: 16px;
  text-decoration: none;
}

.open-request:hover, .open-request:visited, .open-request:active, .open-request:link {
  text-decoration: none;
}
