@import 'variables';

.container {
  margin-top: 64px;
}

h3.header {
  font-size: 20px;
  font-family: $font-family-header;
  font-weight: $font-weight-header-regular;
}

hr.header-hr {
  border: 2px solid $brand-color-4;
}

.browse-body {
  margin: 0 -4px;
}
