// Copyright Contributors to the Amundsen project.
// SPDX-License-Identifier: Apache-2.0

@import 'variables';
@import 'typography';

$row-height: 32px;

.unique-values {
  .unique-values-wrapper {
    color: $text-secondary;
    font-style: italic;
    margin: $spacer-1 0;
  }

  .unique-values-table {
    display: flex;
  }

  .unique-value-row {
    border-top: 1px solid $divider;
    display: flex;
    line-height: $row-height;

    &:nth-child(odd) {
      background-color: $body-bg-secondary;
    }

    &:last-child {
      border-bottom: 1px solid $divider;
    }

    .unique-value-name {
      flex: 100px 1 0;
      padding-left: $spacer-half;
    }

    .unique-value-value {
      flex: 100px 1 1;
      padding-right: $spacer-3;
      text-align: right;
    }
  }

  .unique-values-title {
    @extend %text-title-w3;
  }
}
