<!-- 
  Copyright Contributors to the Amundsen project.
  SPDX-License-Identifier: Apache-2.0
-->

<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>PHE - Data Discovery Portal</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if env == "development" %}
      {% include 'fragments/icons-dev.html' %}
    {% elif env == "staging" %}
      {% include 'fragments/icons-staging.html' %}
    {% else %}
      {% include 'fragments/icons-prod.html' %}
    {% endif %}

    {% if <%= htmlWebpackPlugin.options.config.google.enabled%> %}
      {% include 'fragments/google-analytics-loader.html' %}
    {% endif %}

    <%= htmlWebpackPlugin.tags.headTags %>
    <script src="node_modules/nhsuk-frontend/dist/nhsuk.min.js" defer></script>

  </head>
  <body class="{{ env }}">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    <div id="content"/>
    <%= htmlWebpackPlugin.tags.bodyTags %>
  </body>

  {% if <%= htmlWebpackPlugin.options.config.google.enabled%> %}
    {% include 'fragments/google-analytics-post-loader.html' %}
  {% endif %}
</html>
