<html>
  <head>
<% if (htmlWebpackPlugin.options.config.google.enabled) { %>
    {% include 'fragments/google-analytics-loader.html' %}
<% } %>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/static/images/favicon.png">
    <link href="<%= htmlWebpackPlugin.options.assetOutputDir %>/main.css" type="text/css" rel="stylesheet"/>
    <title>Amundsen - Data Discovery Portal</title>
  </head>
  <body>
    <div id="content"/>
    <script src="<%= htmlWebpackPlugin.options.assetOutputDir %>/vendors.js" type="text/javascript"></script>
    <script src="<%= htmlWebpackPlugin.options.assetOutputDir %>/main.js" type="text/javascript"></script>
  </body>
<% if (htmlWebpackPlugin.options.config.google.enabled) { %>
    {% include 'fragments/google-analytics-post-loader.html' %}
<% } %>
</html>
