// Copyright Contributors to the Amundsen project.
// SPDX-License-Identifier: Apache-2.0

@import 'variables';
@import 'typography';

$alert-border-radius: 4px;
$alert-message-line-height: 24px;

.alert {
  background-color: $body-bg;
  border-radius: $alert-border-radius;
  display: flex;
  padding: $spacer-1 $spacer-1 * 1.5 $spacer-1 $spacer-2;
  justify-content: space-between;
  box-shadow: $elevation-level2;

  .alert-message {
    @extend %text-body-w2;

    // line-height: $alert-message-line-height;
    margin: 0;
    display: inline;
  }

  .alert-triangle-svg-icon {
    margin: 0 $spacer-1 -2px 0;
  }

  .btn-link {
    margin: auto 0 auto $spacer-3;
  }
}
