@import 'variables';

.nav-bar {
  height: 60px; // $nav-bar-height
  box-shadow: 0 2px 0 -1px $gray-lightest;
  padding: 0px 32px 1px 32px;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  // TODO: Update to $nav-bar-bg-or-something
  background-color: $brand-color-5;

  .title-3 {
    color: white;
  }

  a {
   display: inline-block;
   height: 100%;
   line-height: 32px;
   text-decoration: none;
   color: white;
   padding-left: 8px;
   padding-right: 8px;

   &:hover {
     border-bottom: 4px solid white;
   }

   &.active {
      border-bottom: 4px solid white;
   }
  }

  .nav-bar-left {
    flex-basis: 270px;
  }

  .nav-bar-right {
    margin-left: auto;
    display: flex;
  }

  .nav-bar-left,
  .nav-bar-right {
    height: 100%;
    padding-top: 12px;
  }

  .nav-bar-right > *:not(:last-child) {
    margin-right: 12px;
  }

  .sb-avatar {
    -webkit-box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, .76);
    -moz-box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, .76);
    box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, .76);

    &:hover {
      /*
        TODO: The hover over the avatar is currently the white border line.
        This should be changed to "material style circular hover effect"
      */
    }
  }

  .search-bar {
    flex-grow: 1;
    margin: auto 16px auto auto;
  }
}

.logo-icon {
  max-height: 32px;
  max-width: 144px;
  margin-right: 16px;
}
