@import 'variables';

.nav-bar {
  height: $nav-bar-height;

  // TODO - TEMP COLOR
  background: #2B1B81; // indigo100
  box-shadow: 0 2px 0 -1px $gray-lightest;
  padding: 0px 32px 1px 32px;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;

  .title-3 {
    color: white;
  }

  a {
    display: inline-block;
    height: 100%;
    line-height: 32px;
    text-decoration: none;
    color: white;
    padding-left: 8px;
    padding-right: 8px;

    &:hover:not(.nav-bar-avatar-link) {
      border-bottom: 4px solid white;
    }

    &.active {
     border-bottom: 4px solid white;
    }

    /* Circular Hover on Avatar */
    &:hover.nav-bar-avatar-link {
      /* reposition so element appears to stay in place */
      margin-left: 4px;
      margin-right: -4px;
    }
    &:hover .nav-bar-avatar {
      /* override border-bottom style */
      border-bottom: none;

      /* circular background */
      background-color: white;
      border-radius: 50%;
      padding: 4px;

      /* reposition so element appears to stay in place */
      margin-top: -4px;
      margin-left: -8px;
    }
  }

  .nav-bar-left {
    flex-basis: 234px;
  }

  .nav-bar-right {
    margin-left: auto;
    display: flex;
  }

  .nav-bar-left,
  .nav-bar-right {
    height: 100%;
    padding-top: 12px;
  }

  .nav-bar-right > *:not(:last-child) {
    margin-right: 12px;
  }

  .search-bar {
    flex-grow: 1;
    margin: auto 16px auto auto;
  }
}

.logo-icon {
  max-height: 32px;
  max-width: 144px;
  margin-right: 16px;
}
