@import 'variables';

input {
  &::-webkit-input-placeholder,
  &::-moz-placeholder,
  &:-ms-input-placeholder,
  &:-moz-placeholder,
  &::placeholder {
    color: $text-placeholder !important;
  }

  input[type="radio"] {
    margin: 5px;
  }

  input[type="text"] {
    color: $text-secondary !important;
  }
}




textarea {
  width: 100%;
  color: $text-secondary !important;
  border: 1px solid $divider;
  border-radius: 5px;
  padding: 10px;
}
