@import 'variables';
// TODO - Remove once merged with variable updates
$divider: #CACAD9;
$stroke: #CACAD9;
$header-height: 108px;

.resource-detail-layout {
  min-width: 1048px;

  .resource-header {
    display: flex;
    height: $header-height;
    border-bottom: 4px solid $divider;
    padding: 24px;

    > .header-left {
      flex-grow: 1;
    }

    > .header-right {
    }
  }


  // 630 | 414+ Flexible layout
  .column-layout-1 {
    display: flex;
    min-height: calc(100% - #{$header-height});

    > .left-panel {
      > .banner {
        border: 1px solid $stroke;
        height: 40px;
        margin: 24px;
        padding: 8px;
      }

      border-right: 4px solid $divider;
      flex-basis: 634px; // 630 + 4px border
      flex-shrink: 0;
      padding: 0 24px;
    }

    > .right-panel {
      flex-basis: 414px;
      flex-grow: 1;
      flex-shrink: 0;
      width: 0; // Required for text truncation
    }
  }

  // 313 | 245 Fixed Layout
  .column-layout-2 {
    display: flex;
    flex-basis: 100%;

    > .left-panel {
      flex-basis: 313px;
      margin-right: 24px;
      flex-direction: column;
    }

    > .right-panel {
      flex-basis: 245px;
    }
  }

  .left-panel,
  .right-panel {
    display: flex;
    flex-direction: column;
  }
}
