// TODO - Try to implement this with bootstrap variables
@import 'variables';
.list-group {
  margin: 24px 0;

  .list-group-item {
    border-left: none;
    border-right: none;
    padding: 0;

    &:hover {
      box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.12),0px 2px 3px 0px rgba(0, 0, 0, 0.16);
      cursor: pointer;
      z-index: 1; // Workaround: The bottom border shadow is hidden by the item below it
    }
  }
}
