@import 'variables';

// Headers use Roboto
h1, h2, h3,
.h1, .h2, .h3 {
  color: $text-dark;
  font-family: "Roboto", sans-serif;
}

h1,
.h1 {
  font-size: 36px;
  font-weight: $font-weight-header-regular;
}

h2,
.h2 {
  font-size: 26px;
  font-weight: $font-weight-header-bold;
}

h3,
.h3 {
  font-size: 20px;
  font-weight: $font-weight-header-bold;
}


// Open Sans for almost everything else
.title-1, .title-2, .title-3,
.subtitle-1, .subtitle-2, .subtitle-3,
body, .body-1, .body-2, .body-3, .body-secondary {
  color: $text-dark;
  font-family: "Open Sans", sans-serif;
}

.title-1 {
  font-size: 20px;
  font-weight: $font-weight-body-bold;
  line-height: 24px;
}

.title-2 {
  font-size: 16px;
  font-weight: $font-weight-body-bold;
}

.title-3 {
  color: $text-medium;
  font-size: 14px;
  font-weight: $font-weight-body-bold;
}

.subtitle-1 {
  font-size: 20px;
  font-weight: $font-weight-body-semi-bold;
  line-height: 20px;
}

.subtitle-2 {
  font-size: 16px;
  font-weight: $font-weight-body-semi-bold;
}

.subtitle-3 {
  font-size: 14px;
  font-weight: $font-weight-body-semi-bold;
}


.body-1 {
  font-size: 20px;
  font-weight: $font-weight-body-regular;
  line-height: 24px;
}

.body-2 {
  font-size: 16px;
  font-weight: $font-weight-body-regular;
}

body,
.body-3 {
  font-size: 14px;
  font-weight: $font-weight-body-regular;
}

.body-secondary {
  color: $text-medium;
  font-size: 14px;
  font-weight: $font-weight-body-regular;
}
