
// Headers use Roboto
h1, h2, h3,
.h1, .h2, .h3 {
  font-family: "Roboto", sans-serif;
}

h1,
.h1 {
  font-size: 36px;
  font-weight: 500;
}

h2,
.h2 {
  font-size: 26px;
  font-weight: 700;
}

h3,
.h3 {
  font-size: 20px;
  font-weight: 700;
}


// Everything else is Open Sans
.title-1, .title-2, .title-3,
.subtitle-1, .subtitle-2, .subtitle-3,
body, .body-1, .body-2, .body-3 {
  font-family: "Open Sans", sans-serif;
}

.title-1 {
  font-size: 20px;
  font-weight: 700;
}

.title-2 {
  font-size: 16px;
  font-weight: 700;
}

.title-3 {
  font-size: 14px;
  font-weight: 700;
}

.subtitle-1 {
  font-size: 20px;
  font-weight: 600;
}

.subtitle-2 {
  font-size: 16px;
  font-weight: 600;
}

.subtitle-3 {
  font-size: 16px;
  font-weight: 600;
}


.body-1 {
  font-size: 20px;
  font-weight: 400;
}

.body-2 {
  font-size: 16px;
  font-weight: 400;
}

body,
.body-3 {
  font-size: 14px;
  font-weight: 400;
}

//.body-secondary {
//
//}
//
//.body-placeholder {
//
//}
//
//a {
//
//}





