@import 'colors';

// Colors
$brand-color-1: #A9E1FF !default;
$brand-color-2: #82D2FF !default;
$brand-color-3: #3A97D3 !default;
$brand-color-4: #2277B3 !default;
$brand-color-5: #09457B !default;

$brand-primary: $brand-color-4 !default;

$gray:          #ACACC0 !default;
$gray-light:    #CACAD9 !default;
$gray-lighter:  #E7E7EF !default;
$gray-lightest: #F4F4FA !default;

/* Scaffolding */
$body-bg:           $white !default;
$body-bg-secondary: $gray5 !default;
$body-bg-dark:      $gray100 !default;
$divider:           $gray15 !default;
$stroke:            $gray20 !default;
$link-color:        $purple60;
$link-hover-color:  $purple80;


// Typography
$text-primary:     $gray100 !default;
$text-secondary:   $gray60 !default;
$text-light:       $white !default;
$text-placeholder: $gray40;

$font-family-body:           "Open Sans", sans-serif !default;
$font-weight-body-regular:   400 !default;
$font-weight-body-semi-bold: 600 !default;
$font-weight-body-bold:      700 !default;

$font-family-header:         "Roboto", sans-serif !default;
$font-weight-header-regular: 500 !default;
$font-weight-header-bold:    700 !default;

$font-family-monospace:       'Menlo-Bold', Menlo, monospace !default;
$font-family-serif:           Georgia, "Times New Roman", Times, serif !default;

$font-size-small:    12px !default;
$font-size-base:     14px !default;
$font-size-large:    16px !default;
$line-height-small:  1.5 !default;
$line-height-large:  1.5 !default;


// Buttons
$btn-border-radius-base: 4px;

$btn-primary-bg:           $brand-color-4 !default;
$btn-primary-bg-hover:     $brand-color-5 !default;
$btn-primary-border:       transparent !default;
$btn-primary-border-hover: transparent !default;
$btn-primary-color:        $white !default;
$btn-primary-color-hover:  $white !default;

$btn-default-bg:           $white !default;
$btn-default-bg-hover:     $gray5 !default;
$btn-default-border:       $gray20 !default;
$btn-default-border-hover: $gray30 !default;
$btn-default-color:        $gray100 !default;
$btn-default-color-hover:  $gray90;


// Icons
$icon-bg:          $gray20 !default;
$icon-bg-color:    $brand-color-3 !default;
$icon-bg-dark:     $gray60 !default;
$icon-bg-disabled: $gray20 !default;


// Header & Footer
$nav-bar-height: 60px;
$footer-height: 60px;


// List Group
$list-group-border:        $gray-light !default;
$list-group-border-radius: 0 !default;


// Labels
$label-primary-bg: $brand-color-3 !default;

// TODO Temp Colors
$resource-title-color: #8B37FF; // this is #purple60, end goal is #indigo60
$badge-text-color: #292936; // gray100
$badge-danger-color: #FFCCBF; // sunset10
$badge-primary-color: #D4F0FF; // cyan10
$badge-success-color: #A6FBDE; // mint10
$badge-warning-color: #FFF3B8; // yellow10
