@import 'bootstrap-custom';

@import 'avatars';
@import 'buttons';
@import 'fonts';
@import 'icons';
@import 'labels';
@import 'list-group';
@import 'pagination';
@import 'popovers';
@import 'typography';

// TODO - Move to separate files
// Layout
#main > .container {
  margin: 96px auto 48px;
}

@media (max-width: $screen-md-max) {
  #main > .container {
    margin: 64px auto 48px;
  }
}

@media (max-width: $screen-sm-max) {
  #main > .container {
    margin: 32px auto 48px;
  }
}


// Misc
td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
form {
  margin-bottom: 0;
}

input {
  &::-webkit-input-placeholder,
  &::-moz-placeholder,
  &:-ms-input-placeholder,
  &:-moz-placeholder,
  &::placeholder {
    color: $text-placeholder !important;
  }
}

.truncated {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

input[type="radio"] {
  margin: 5px;
}

input[type="text"] {
  color: $text-secondary !important;
}

textarea {
  width: 100%;
  color: $text-secondary !important;
  border: 1px solid $divider;
  border-radius: 5px;
  padding: 10px;
}
