@import 'variables';

.report-table-issue-link {
  text-decoration: none !important;
}


.report-table-issue-modal {
  background-color: $white;
  height: auto;
  min-height: 300px;
  padding: 32px;
  width: 400px;
  box-shadow: 0 0 24px -2px rgba(0, 0, 0, .2);
  border-radius: 6px;
  bottom: 100px;
  display: block;
  left: 25px;
  position: fixed;
  z-index: 6;


  .btn-close {
    position: absolute;
    top: 32px;
    right: 32px;
  }

  .controls {
    text-align: right;
    margin-top: 16px;
    .submit {
      margin-left: 8px;
    }
  }
}
