@import 'variables';

.editable-text {
  font-size: 16px;

  :first-child {
    margin-top: 0;
  }

  &:hover {
   .edit-link {
     opacity: 1;
   }
  }

  .edit-link {
    opacity: 0;
    text-decoration: none;

    &.no-value {
      opacity: 1;
    }
  }

  .text-wrapper {
    word-break: break-word;

    // React-Markdown wraps editable text with a paragraph
    > p {
      margin: 0;
    }
  }

  .editable-textarea {
    background: $body-bg-secondary;
    border-radius: 4px;
    border-color: $stroke;
    caret-color: $brand-primary;
    min-width: 300px;
    outline: none;
    padding: 8px;
    resize: none;

    &:disabled {
      background: $body-bg-disabled;
    }
  }

  .editable-textarea-controls {
    margin-top: 16px;

    .btn {
      margin-right: 8px;
    }

    .label.label-danger {
      display: block;
      margin-bottom: 16px;
    }
  }
}
