@import 'variables';

.list-group-item .resource-list-item {
  color: $text-dark;
  display: flex;
  flex-direction: row;
  height: 96px;
  padding: 24px 24px;
  text-decoration: none;

  img.icon.start-icon,
  .sb-avatar {
    margin: auto 16 auto auto;
  }

  img.icon.end-icon {
    margin: auto 0;
  }

  .content {
    display: flex;
    // TODO - Replace width and min-width with flex: 1
    width: 100%;
    min-width: 0; /* Needed to support `white-space: nowrap` */

    .resource-name .truncated {
      display: inline-block;
      max-width: calc(100% - 32px);
    }
  }

  // TODO: Temp Color
  .title-2 {
    color: $resource-title-color;
  }

  .reesource-name {

  }

  .resource-type {
    // TODO: Can't seem to vertically center
    text-align: center;
  }

  .resource-badges {
    // TODO: Badges section needs styles for showing multiple badges nicely
    text-align: center;
  }
}
