@import 'variables';

.dashboard-page {

  .last-run-state {
    text-transform: uppercase;
  }

  .image-preview {
    margin-top: $spacer-4;
    min-height: -webkit-fill-available;

    img {
      margin-bottom: $spacer-4;
    }
  }
}
