// TODO - Delete when var definitions are merged from other branch
$navbar-height: 48px;
$footer-height: 60px;

.table-detail-2 {
  height: calc(100% - #{$navbar-height} - #{$footer-height});



  .section-title {
    margin-top: 40px;
  }


}
