@import 'variables';

// TODO - delete once merged in with colors
$background-secondary: #F4F4FA;
$divider: #E7E7EF;


.list-group-item .column-list-item {
  padding: 16px 24px;

  &:hover {
    background: white;
  }

  .column-header {
    display: flex;

    .column-details {
      flex-basis: 50%;
      flex-grow: 1;
      padding-right: 16px;
    }
    .resource-type {
      flex-basis: 100px;
    }
    .badges {

    }
    .actions {

    }
  }


  .stat-collection-info {
    color: $text-medium;
    font-style: italic;
    margin: 8px 0;
  }

  .column-stats {
    display: flex;

    .column-stats-column {
      flex-basis: 50%;
      flex-grow: 1;

      &:first-child {
        margin-right: 16px;
      }

      .column-stat {
        display: flex;
        border-top: 1px solid $divider;
        border-bottom: 1px solid $divider;
        line-height: 32px;

        &:nth-child(odd) {
          background-color: $background-secondary;
        }

        .stat-name {
          flex-basis: 50%;
        }
        .stat-value {
          flex-basis: 50%;
          flex-grow: 1;
        }
      }
    }
  }
}
