@import 'variables';

// TODO - delete once merged in with colors
$background-secondary: #F4F4FA;
$divider: #E7E7EF;

.list-group-item .column-list-item {
  padding: 16px 24px;

  .column-header {
    display: flex;

    .column-details {
      flex-basis: 50%;
      flex-grow: 1;
      padding-right: 16px;
    }
    .resource-type {
      flex-basis: 100px;
    }
    .badges {
      // Placeholder
    }
    .actions {
      // Placeholder
    }
  }

  .stat-collection-info {
    color: $text-medium;
    font-style: italic;
    margin: 8px 0;
  }

  // TODO - find less confusing names for column-stats and children...
  .column-stats {
    display: flex;
    max-width: 600px;

    .column-stats-column {
      flex-basis: 50%;
      flex-grow: 1;

      &:first-child {
        margin-right: 16px;
      }

      .column-stat {
        display: flex;
        border-top: 1px solid $divider;
        line-height: 32px;

        &:nth-child(odd) {
          //background-color: $background-secondary;
          // TODO - #FCFCFF is used in mocks but is not part of our color palette. Follow up with design about random colors
          background-color: #FCFCFF;
        }
        &:last-child {
          border-bottom: 1px solid $divider;
        }

        .stat-name {
          flex: 100px 1 0;
          padding-left: 4px;
          text-transform: lowercase;
        }
        .stat-value {
          flex: 100px 1 1;
          padding-right: 4px;
        }
      }
    }
  }
}
