@import 'variables';

// TODO - delete once merged in with colors
$background-secondary: #F4F4FA;
$divider: #E7E7EF;

.list-group-item .column-list-item {
  padding: 16px 24px;

  .column-header {
    display: flex;

    .column-details {
      flex-basis: 50%;
      flex-grow: 1;
      padding-right: 16px;
    }
    .resource-type {
      flex-basis: 100px;
    }
    .badges {
      // Placeholder
    }
    .actions {
      // Placeholder
    }
  }
}
