@import 'variables';
.feedback-icon {
  height: 32px;
  width: 32px;
  outline: 0 !important;

  img {
    margin: 4px;
    background-color: white;
  }

  &:hover,
  &:focus,
  &.is-open {
    border-radius: 50%;
    border: 6px solid white;

    img {
      margin: -2px 0 0 -2px;
      &.icon.icon-help {
        background-color: white !important;
      }
    }
  }
}

.feedback-component {
  box-shadow: 0 0 24px -2px rgba(0, 0, 0, .2);
  bottom: 75px;
  position: fixed;
  right: 25px;
  z-index: 2;

  background-color: white;
  border-radius: 0 0 6px 6px;
  border-top: 4px solid $brand-primary;
  height: auto;
  min-height: 450px;
  padding: 32px;
  width: 400px;

  color: $text-dark;

  .title {
    color: $text-medium;
    flex-grow: 1;
    font-size: 12px;
    font-family: $font-family-header;
    font-weight: $font-weight-header-regular;
    height: 24px;
    line-height: 32px;
  }

  .feedback-header {
    display: flex;
    margin-bottom: 8px;
  }

  .btn-group {
    margin: 8px auto 16px;
  }
}
