@import 'variables';

.request-component {
  box-shadow: 0 0 24px -2px rgba(0, 0, 0, .2);
  bottom: 75px;
  position: fixed;
  left: 25px;
  z-index: 6;
  background-color: white;
  border-radius: 0 0 6px 6px;
  height: auto;
  min-height: 450px;
  padding: 32px;
  width: 400px;
  display:none;

  &.expanded {
    display: block;
  }

  .title {
    flex-grow: 1;
  }

  .request-header {
    display: flex;
  }

  .select-label {
    display: block;
    font-weight: $font-weight-body-regular;
  }
}
