@import 'variables';

.request-component {
  box-shadow: 0 0 24px -2px rgba(0, 0, 0, .2);
  bottom: 75px;
  position: fixed;
  left: 25px;
  z-index: 999;

  &.expanded {
    background-color: white;
    border-radius: 0 0 6px 6px;
    height: auto;
    min-height: 450px;
    padding: 32px;
    width: 400px;
    display: block;
  }

  &.collapsed {
    display: none;
  }

  .title {
    flex-grow: 1;
  }

  img.icon-speech {
    background-color: $brand-primary;
    height: 36px;
    width: 24px;
  }

  .request-header {
    display: flex;
  }

  .btn-group {
    margin: 8px auto 16px;
  }

  label {
    display: block;
  }
  
  .submit-button {
    background-color: $brand-color-4;
    color: white;
    border-radius: 5px;
    padding: 10px;
    font-weight: $font-weight-body-bold;
    float: right;
  }

  .form-section {
    margin-bottom: 24px;
  }
}
