@import 'variables';

.editable-section {
  .edit-button {
    opacity: 0;
    margin-left: 4px;

    &.active {
      opacity: 1;
    }
  }

  &:hover {
    .edit-button {
      opacity: 1;
    }

  }


}
