// Copyright Contributors to the Amundsen project.
// SPDX-License-Identifier: Apache-2.0

@import 'variables';
@import 'typography';

.resource-list-header {
    @extend %text-caption-w2;
    display: flex;
    flex-direction: row;
    height: $spacer-6;
    padding: $spacer-2 $spacer-3 $spacer-2;

    .dataset{
        flex: 7;
        min-width: 0;
        margin-right: $spacer-3;
        margin-left: $spacer-5;
    }
    .source{
        flex: 2;
        margin: auto $spacer-3;
    }
    .badges{
        display: flex;
        flex: 3;
        flex-wrap: wrap;
        margin-bottom: auto;
        margin-left: $spacer-3;
        margin-top: auto;
    }
}