// Copyright Contributors to the Amundsen project.
// SPDX-License-Identifier: Apache-2.0
@import 'variables';
.clickable-badge {
  &:hover {
    cursor: pointer;
  }
  .label {
    padding: 0 0;
  }
  .badge-overlay-primary {
    font-size: 14px;
    text-align: center;
    display: inline-block;
    padding: .2em .6em .3em;
  }
  .badge-overlay-primary:focus, .badge-overlay-primary:hover {
    background-color: rgba($color: $badge-overlay, $alpha: .14);
    color: $text-primary;
    height: 20px;
    width: 100%;
    border-radius: 20px;
  }

  .badge-overlay-primary:focus {
    // TODO verify if this is what it is supposed to look like
    // more round?
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }

}