// Copyright Contributors to the Amundsen project.
// SPDX-License-Identifier: Apache-2.0
@import 'variables';
.clickable-badge {
  &:hover {
    cursor: pointer;
  }
  .label {
    padding: 0 0;
  }

  [class^="badge-overlay-"] { 
    font-size: $font-size-base;
    text-align: center;
    padding: .2em .6em .3em;

    &:hover, &:focus {
      color: $badge-text-color;
      height: $badge-height;
      width: 100%;
      border-radius: 20px;
    }

    &:focus {
      // TODO verify if this is what it is supposed to look like
      // more round?
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px;
    }
  }

  .badge-overlay-primary {
    &:hover, &:focus {
      background-color: rgba($color: $badge-overlay, $alpha: .14);
    }
  }
}