@import 'variables';

.search-filter-section {
  &:not(:first-child) {
    margin-top: $spacer-3;
  }

  .input-section-content {
    button,
    input[type=text] {
      margin-top: $spacer-1;
    }

    button {
      margin-left: $spacer-1;
    }

    display: flex;
  }
}
