@import 'variables';

// TODO - Delete once merged with colors update
$text-secondary: #63637B;

.avatar-label-component {
  display: inline-block;

  .avatar-label {
    margin-left: 8px;
    cursor: inherit;
    min-width: 0;
    color: $text-secondary;
  }
}

.avatar-overlap {
  margin-left: -5px;

  &:first-child {
    margin-left: 0;
  }
}
