@import 'variables';

.search-page {
  .search-list-container {
    margin: 64px 0 0 0;
  }
  @media (max-width: $screen-sm-max) {
    .search-list-container {
      margin: 32px 0 0 0;
    }
  }

  .search-list-header {
    display: flex;
    flex-direction: row;
    margin-bottom: 32px;
  }
  .search-list-header label {
    font-family: $font-family-sans-serif-bold;
    font-weight: $font-weight-sans-serif-bold;
    font-size: 20px;
    margin-top: auto;
    margin-bottom: auto;
    width: fit-content;
    line-height: 24px;
  }
  
  .search-error {
    color: $gray-lighter;
    text-align: center;
  }

  .search-pagination-component {
    display: flex;
    justify-content: center;
  }

  .pagination > li {
    > a,
    > span {
      border: 1px solid $gray-lighter;
      color: $brand-color-4;

      &:focus,
      &:hover {
        background-color: $gray-lighter;
        color: $link-hover-color;
        z-index: 0;
      }
    }

    &.active {
      > a,
      > span {
        &,
        &:active,
        &:hover,
        &:focus {
          background-color: $brand-color-4;
          border-color: $brand-color-4;
          color: white;
          z-index: 0;
        }
      }
    }
  }
}
