@import 'variables';

.search-page {
  display: flex;
  min-height: calc(100% - #{$nav-bar-height + $footer-height});


  .search-results {
    flex-grow: 1;
    width: 0; // Temporary hack since list-items use width %
  }

  .tabs-component,
  .search-list-container {
    margin-top: 32px;
  }

  @media (max-width: $screen-sm-max) {
    .tabs-component,
    .search-list-container {
      margin-top: 16px;
    }
  }

  .tab-content {
    .search-list-header {
      display: flex;
      flex-direction: row;
      label {
        color: $text-medium;
        font-size: 18px;
      }
    }
  }

  .search-error {
    text-align: center;
  }
}
